:root {
  --bg-color: #011627;
  --text-color: LightCyan;
  --accent-color: SteelBlue;
  --accent-dark: #326273;
}

body {
  background-repeat: repeat;
  background-size: auto;
  image-rendering: pixelated;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  margin: 0px auto;
  max-width: 1024px;

  letter-spacing: 0.02em;
}

p,h2,h3,h4,h5{
  margin: 5px;
}

a,
a:link,
a:visited {
  color: var(--accent-color);
  color: var(--accent-color);
}

a:active {
  color: var(--accent-dark);
  color: var(--accent-color);
}


h2 {
  font-family: "Verdana", sans-serif;
}

hr {
  border: none;
  border-top: 1px solid var(--accent-color);
}

img {
  max-width: 100%;
  height: auto;
  margin: 0px;
}

table, td, th {
  border: 1px solid;
  padding: 10px;
  border-color: var(--accent-color);
}

table {
  border-collapse: collapse;
}
